/* main */

body {font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #333333;
        background-color: #f9f9f9;
        font-size: 14px;
        }

  #logo {margin-top: 7px;
        margin-left: -5px;
        width: 110px;
        }

  #nav-main {background-color: #fff;
          border-bottom: 1px solid #e7e7e7;
          font-size: 15px;
          }

.navbar-default .navbar-nav>li>a {color: black;}

.navbar-default .navbar-nav>li>a:hover {color: #2980b9;}

#guides {border-left: 1px solid #ecf0f1;}

#faq {margin-right: 20px;
      border-left: 1px solid #ecf0f1;
      }

.side_nav {position: fixed;
          width: 220px;
          background-color: #fff;
          border-right: 1px solid #bdc3c7;
          padding-top: 70px;
          height: 100%;}

.side_nav ul {list-style-type: none;}

.side_nav li {line-height: 20px;
              margin-left: -10px;
              padding-left: 10px;
              margin-right: 10px;
              }

.side_nav li a {display: block;
                text-decoration: none;
                padding: 5px;
                padding-left: 30px;
                margin-left: -30px;
                margin-top: 2px;
                margin-bottom: 2px;}

.side_nav li a:hover {text-decoration: none;
                      background-color: #ecf0f1;
                      transition: all 0.3s ease;
                      padding: 5px;
                      padding-left: 30px;
                      border-radius: 5px;
                      margin-top: 2px;
                      margin-bottom: 2px;}

.main_body {width: 100%;
            padding-top: 70px;
            padding-left: 240px;}

.pdf_links {margin-top: 30px;
            margin-left: -30px;}

.pdf_links ul {list-style-type: ;
              line-height: 25px;}

/* faqs */

#faq_page {margin-bottom: 50px;
          margin-top: 70px;}

.alert_text {margin-top: 30px;
            margin-bottom: -30px;}

.faqHeader {font-size: 28px;
        margin: 20px;

    }

#accordion {padding-top: 20px;}



/* footer */

footer {position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        font-size: 13px;
        border-top: 1px solid #bdc3c7;
        z-index: 1000;
        float: left;
        padding-left: 10px;
        padding-top: 5px;
        line-height: 2px;}

/* TABLET main */

@media (max-width: 768px) {

  #logo {margin-top: 7px;
        margin-left: 10px;
        margin-bottom: -5px;
        width: 100px;
        }

}
